@model GuardiansOfTheGlobeApi.Models.Villano

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Villano</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habilidades" class="control-label"></label>
                <input asp-for="Habilidades" class="form-control" />
                <span asp-validation-for="Habilidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origen" class="control-label"></label>
                <input asp-for="Origen" class="form-control" />
                <span asp-validation-for="Origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poder" class="control-label"></label>
                <input asp-for="Poder" class="form-control" />
                <span asp-validation-for="Poder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debilidades" class="control-label"></label>
                <input asp-for="Debilidades" class="form-control" />
                <span asp-validation-for="Debilidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
